In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Sample").getOrCreate()

In [4]:
spark

In [5]:
df_pyspark = spark.read.csv('test1.csv')

In [6]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [7]:
df_pyspark = spark.read.option('header','true').csv('test1.csv')

In [8]:
df_pyspark

DataFrame[Name: string, age: string, Experience: string, Salary: string]

In [9]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [10]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    suraj| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [11]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [12]:
df_pyspark.head(3)

[Row(Name='suraj', age='31', Experience='10', Salary='30000'),
 Row(Name='Sudhanshu', age='30', Experience='8', Salary='25000'),
 Row(Name='Sunny', age='29', Experience='4', Salary='20000')]

In [13]:
df_pyspark.select(["Name","Experience"]).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    suraj|        10|
|Sudhanshu|         8|
|    Sunny|         4|
|     Paul|         3|
|   Harsha|         1|
|  Shubham|         2|
+---------+----------+

In [14]:
df_pyspark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| suraj|                31|                8|             30000|
+-------+------+------------------+-----------------+------------------+

In [15]:
df_pyspark1 = spark.read.csv('test2.csv')

In [16]:
df_pyspark1 = spark.read.option('header','true').csv('test2.csv')

In [17]:
df_pyspark1

DataFrame[Name: string, age: string, Experience: string, Salary: string]

In [18]:
df_pyspark1.withColumnRenamed("Name","New Name").show()

+---------+----+----------+------+
| New Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [19]:
df_pyspark1.na.drop().show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [20]:
df_pyspark1.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [21]:
#threshold

In [22]:
df_pyspark1.na.drop(how="any",subset=["age"]).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     NULL| 34|        10| 38000|
|     NULL| 36|      NULL|  NULL|
+---------+---+----------+------+

In [23]:
df_pyspark1.na.drop(how="any",subset=["Name"]).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
+---------+----+----------+------+

In [24]:
df_pyspark1.na.fill("missing",["Experience"]).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|   missing| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|   missing|  NULL|
+---------+----+----------+------+

In [25]:
df_pyspark1.na.fill("missing",["age","Experience"]).show()

+---------+-------+----------+------+
|     Name|    age|Experience|Salary|
+---------+-------+----------+------+
|    Krish|     31|        10| 30000|
|Sudhanshu|     30|         8| 25000|
|    Sunny|     29|         4| 20000|
|     Paul|     24|         3| 20000|
|   Harsha|     21|         1| 15000|
|  Shubham|     23|         2| 18000|
|   Mahesh|missing|   missing| 40000|
|     NULL|     34|        10| 38000|
|     NULL|     36|   missing|  NULL|
+---------+-------+----------+------+

In [26]:
df_pyspark1.na.fill("missing value",["Experience","age"]).show()

+---------+-------------+-------------+------+
|     Name|          age|   Experience|Salary|
+---------+-------------+-------------+------+
|    Krish|           31|           10| 30000|
|Sudhanshu|           30|            8| 25000|
|    Sunny|           29|            4| 20000|
|     Paul|           24|            3| 20000|
|   Harsha|           21|            1| 15000|
|  Shubham|           23|            2| 18000|
|   Mahesh|missing value|missing value| 40000|
|     NULL|           34|           10| 38000|
|     NULL|           36|missing value|  NULL|
+---------+-------------+-------------+------+

In [27]:
df_pyspark1.na.fill("missing value").show()

+-------------+-------------+-------------+-------------+
|         Name|          age|   Experience|       Salary|
+-------------+-------------+-------------+-------------+
|        Krish|           31|           10|        30000|
|    Sudhanshu|           30|            8|        25000|
|        Sunny|           29|            4|        20000|
|         Paul|           24|            3|        20000|
|       Harsha|           21|            1|        15000|
|      Shubham|           23|            2|        18000|
|       Mahesh|missing value|missing value|        40000|
|missing value|           34|           10|        38000|
|missing value|           36|missing value|missing value|
+-------------+-------------+-------------+-------------+

In [28]:
df_pyspark.dtypes

[('Name', 'string'),
 ('age', 'string'),
 ('Experience', 'string'),
 ('Salary', 'string')]

In [29]:
df_pyspark=df_pyspark.withColumn("exp after 10 yr",df_pyspark["Experience"]+10)
df_pyspark.show()

+---------+---+----------+------+---------------+
|     Name|age|Experience|Salary|exp after 10 yr|
+---------+---+----------+------+---------------+
|    suraj| 31|        10| 30000|           20.0|
|Sudhanshu| 30|         8| 25000|           18.0|
|    Sunny| 29|         4| 20000|           14.0|
|     Paul| 24|         3| 20000|           13.0|
|   Harsha| 21|         1| 15000|           11.0|
|  Shubham| 23|         2| 18000|           12.0|
+---------+---+----------+------+---------------+

In [30]:
df_pyspark=df_pyspark.drop("exp after 10 yr")
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    suraj| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [31]:
df1=df_pyspark1.na.drop().show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [32]:
df_pyspark=spark.read.csv('test3.csv',header=True,inferSchema=True)

In [33]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [34]:
df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [35]:
df_pyspark.groupBy('Name').avg().show()

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

In [36]:
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [37]:
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [38]:
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [39]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+